$verylight-gb: hsl(240, 78%, 98%);
$light-gb: hsl(234, 14%, 74%);
$grayish-b: hsl(233, 13%, 49%);
$dark-gb: hsl(232, 13%, 33%);
$gradient: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%))